<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <meta name="name" content="name属性主要用于描述网页，与之对应的属性值为content，content中的内容主要是便于搜索引擎机器人查找信息和分类信息用的。">
  <meta name="keywords" content="政治,经济, 科技,文化, 卫生, 情感，心灵，娱乐，生活，社会，企业，交通">
  <meta name="description" content="">
  <meta name="author" content="xmg,xxxx@163.com">
  <meta name="full-screen" content="yes"/>
  <!-- 全屏显示网页(部分移动端浏览器的专有属性) -->
  <meta name="browsermode" content="application"/>
  <!-- 浏览器模式-强制坚屏显示(部分移动端浏览器的专有属性), -->
  <meta content="telephone=no,email=no,adress=no" name="format-detection" />
  <!-- 数据格式验证渲染：   
    telephone：而iPhone会自动把你这个文字加链接样式、并且点击这个数字还会自动拨号！默认开启 
    email：浏览器会识别邮箱并加样式，点击可以调用系统默认邮件应用给该地址发邮件，默认开启 
    adress：adress=yes就开启了点击地址直接跳转至地图的功能，默认开启 -->
  <meta name="renderer" content="webkit">


  <meta http-equiv="http-equiv" content="相当于http协议中文件头的作用，它可以向浏览器传回一些有用的信息，以帮助正确和精确地显示网页内容，与之对应的属性值为content，content中的内容其实就是各个参数的变量值"> 
  <meta http-equiv="content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="expires" content="Wed, 12 Sep 2018 08:33:59 GMT">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="refresh" content="2;url=http://baidu.com">
  <meta http-equiv="set-cookie" content="testcookie=xxx; expires=Wed, 12 Sep 2018 08:33:59 GMT; path=/">
  <meta http-equiv="Window-target" content="_top">
  <!-- 强制页面在当前窗口以独立页面显示,用来防止别人在框架里调用自己的页面 -->
  <title>元信息</title>
</head>
<body>

</body>
</html>