<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>R</title>
</head>
<body>
  

  <script>
    // global/ignoreCase/lastIndex/multiline/source
    // compile/exec/test
    // search/match/replace/split
    let s1 = 'wocaozheexieshabicwwhuangyezhergshudodtebichangdehaotingjeiutemebugeiqiancthenggongnimtabi'
    let s2 = 'rangnimeqnzhexiweshabichuangyeezhechengegongdourduibuqishehui'
    let r1 = /^1\d{10}$/
    let r2 = /^[0-9]{17}[\dX]$/
  </script>
</body>
</html>